DEVICE_AGENT_MODEL_MODE=mock
DEVICE_AGENT_AGENT_MODE=multi_agent
DEVICE_AGENT_MODEL_PROVIDER=
DEVICE_AGENT_AGENT=
DEVICE_AGENT_AGENT_PLANNER=
DEVICE_AGENT_AGENT_CLASSIFIER=
DEVICE_AGENT_AGENT_SUMMARIZER=
DEVICE_AGENT_AGENT_VERIFIER=

DEVICE_AGENT_PRIMARY_BASE_URL=https://api.openai.com/v1
DEVICE_AGENT_PRIMARY_API_KEY=
DEVICE_AGENT_PRIMARY_MODEL=
DEVICE_AGENT_PLANNER_MODEL=

DEVICE_AGENT_ROUTER_BASE_URL=
DEVICE_AGENT_ROUTER_API_KEY=
DEVICE_AGENT_ROUTER_MODEL=
DEVICE_AGENT_SMALL_MODEL=
